In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.read_csv('Train/Train_DataSet.csv', encoding='utf-8')
label = pd.read_csv('Train/Train_DataSet_Label.csv', encoding='utf-8')

In [3]:
data.head()

,id,title,content
0,7a3dd79f90ee419da87190cff60f7a86,问责领导(上黄镇党委书记张涛，宣国才真能一手遮天吗？),这几天看了有人举报施某某的贴子，经与举报人联系证实，是宣某当天中午请举报人和枪手喝酒后，晚上...
1,7640a5589bc7486ca199eeeb38af79dd,江歌事件:教会孩子，善良的同时更要懂得保护自己!,过去一年的江歌悲剧，这几日再次刷屏：住在东京都中野区的中国女留学生江歌，收留了被前男友陈世锋...
2,8c5bda93e4ba401f90a0faa5b28fe57f,"绝味鸭脖广告""开黄腔""引众怒 ""双11""这么拼值吗?",“双11”1600亿的销售额让中国乃至全世界感到震惊，为此，不仅有不惜欠债百万的“剁手党”，...
3,1aa777fed31a4b8a9d866f05b5477557,央视曝光!如东一医药企业将槽罐车改成垃圾车，夜间偷排高浓度废水,2016年以来，如东高新区一家叫做拜瑞生物医药的企业竟然将装废水的槽罐车伪装成洒水车，常年在...
4,6c67ac55360340258e157f3710ebae6c,恶劣至极，央视都曝光了!南通如东一医药企业将槽罐车改成洒水车，夜间偷排高浓度废水...丢大发了!,新闻资讯•民生热点•城市生活•南通人都在看浏览更多资讯请关注微信公众号:南通传媒网昨晚央视一...

In [4]:
label.head()

                                 id  label
0  7a3dd79f90ee419da87190cff60f7a86      2
1  7640a5589bc7486ca199eeeb38af79dd      1
2  8c5bda93e4ba401f90a0faa5b28fe57f      2
3  1aa777fed31a4b8a9d866f05b5477557      2
4  6c67ac55360340258e157f3710ebae6c      2

In [5]:
# data 一共有7345
# label 一共有7355
# label 比 data多10个
# 前841项相同，从第842（索引841项开始不同）
# test1 从841开始，将label向后挪10个, 结果发现到851-6550不同
# 所以相同的部分是data.id[:842]+[6551:7345] == label[:842]+[6561:7355]

In [6]:
datatest = data.head()
labeltest = label.head()
print(datatest)
print(labeltest)

                                 id  \
0  7a3dd79f90ee419da87190cff60f7a86
1  7640a5589bc7486ca199eeeb38af79dd
2  8c5bda93e4ba401f90a0faa5b28fe57f
3  1aa777fed31a4b8a9d866f05b5477557
4  6c67ac55360340258e157f3710ebae6c

                                              title  \
0                       问责领导(上黄镇党委书记张涛，宣国才真能一手遮天吗？)
1                          江歌事件:教会孩子，善良的同时更要懂得保护自己!
2                        绝味鸭脖广告"开黄腔"引众怒 "双11"这么拼值吗?
3                   央视曝光!如东一医药企业将槽罐车改成垃圾车，夜间偷排高浓度废水
4  恶劣至极，央视都曝光了!南通如东一医药企业将槽罐车改成洒水车，夜间偷排高浓度废水...丢大发了!

                                             content
0  这几天看了有人举报施某某的贴子，经与举报人联系证实，是宣某当天中午请举报人和枪手喝酒后，晚上...
1  过去一年的江歌悲剧，这几日再次刷屏：住在东京都中野区的中国女留学生江歌，收留了被前男友陈世锋...
2  “双11”1600亿的销售额让中国乃至全世界感到震惊，为此，不仅有不惜欠债百万的“剁手党”，...
3  2016年以来，如东高新区一家叫做拜瑞生物医药的企业竟然将装废水的槽罐车伪装成洒水车，常年在...
4  新闻资讯•民生热点•城市生活•南通人都在看浏览更多资讯请关注微信公众号:南通传媒网昨晚央视一...
                                 id  label
0  7a3dd79f90ee419da87190cff60f7a86      2
1  7640a5589bc7486ca199eeeb38af79dd      1
2  8c5bda93e4ba401f90a0faa5b28fe57f      2
3  1aa777fed31a4b8a9d866f05b5477557      2
4  6c67ac55360340258e157f3710ebae6c      2

In [7]:
result_merge = pd.merge(datatest, labeltest)

In [8]:
result_merge.to_csv('result_merge.csv')

In [12]:
read_result_merge = pd.read_csv('result_merge.csv', encoding='utf-8')

In [13]:
print(read_result_merge)

   Unnamed: 0                                id  \
0           0  7a3dd79f90ee419da87190cff60f7a86
1           1  7640a5589bc7486ca199eeeb38af79dd
2           2  8c5bda93e4ba401f90a0faa5b28fe57f
3           3  1aa777fed31a4b8a9d866f05b5477557
4           4  6c67ac55360340258e157f3710ebae6c

                                              title  \
0                       问责领导(上黄镇党委书记张涛，宣国才真能一手遮天吗？)
1                          江歌事件:教会孩子，善良的同时更要懂得保护自己!
2                        绝味鸭脖广告"开黄腔"引众怒 "双11"这么拼值吗?
3                   央视曝光!如东一医药企业将槽罐车改成垃圾车，夜间偷排高浓度废水
4  恶劣至极，央视都曝光了!南通如东一医药企业将槽罐车改成洒水车，夜间偷排高浓度废水...丢大发了!

                                             content  label
0  这几天看了有人举报施某某的贴子，经与举报人联系证实，是宣某当天中午请举报人和枪手喝酒后，晚上...      2
1  过去一年的江歌悲剧，这几日再次刷屏：住在东京都中野区的中国女留学生江歌，收留了被前男友陈世锋...      1
2  “双11”1600亿的销售额让中国乃至全世界感到震惊，为此，不仅有不惜欠债百万的“剁手党”，...      2
3  2016年以来，如东高新区一家叫做拜瑞生物医药的企业竟然将装废水的槽罐车伪装成洒水车，常年在...      2
4  新闻资讯•民生热点•城市生活•南通人都在看浏览更多资讯请关注微信公众号:南通传媒网昨晚央视一...      2

In [14]:
table_merge = pd.merge(data, label)
table_merge.to_csv('table_merge.csv')

In [15]:
data_merge = pd.read_csv('table_merge.csv', encoding='utf-8')

In [16]:
data_merge.tail()

,Unnamed: 0,id,title,content,label
7335,7335,0a8fbc25ea6a4241b9069919a8a88e1d,珊瑚裸尾鼠：首个因全球气候变暖灭绝的哺乳动物,凯文登上前往澳大利亚的飞机，飞机缓缓起飞，凯文打开手里的笔记本，笔记本的第一页贴着一张泛黄的...,2
7336,7336,54ef19d3fb1e4b8b8415623892868275,独居老人做饭忘关火 南通志愿者及时发现转危为安,江海明珠网讯（记者 修雨竹 汤思敏）前两天，港闸区秦灶林荫水岸小区一位老人独自在家烧煮时，竟...,2
7337,7337,0a9a42f8a78545f9b979fe5c7d33b33f,被生意上的人给利用合同诈骗，诈骗三十万够判多少年--在..._律师365,1、诈骗罪量刑标准之加重处罚情形:\n诈骗数额在10万元以上，又具有下列情形之一的，也应认定...,2
7338,7338,87aca93ec1074c37a5e1ff14f9cdb253,奎山汽贸城去年那场火灾，调查情况报告出来了！,26日，日照经济技术开发区发布《关于奎山汽贸城“11•14”火灾事故调查情况的报告》。201...,2
7339,7339,68680bb34bcf4829a04169885b4d92ff,曝光台•调查｜市场消防通道被长期霸占？事情并非想象的那样,消防通道是生命通道，一旦被占用，当发生火灾等突发状况，消防车辆将无法正常进出，会给小区居民生...,2