## 导入数据 ##

In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.read_csv('Train/Train_DataSet.csv', encoding='utf-8')
label = pd.read_csv('Train/Train_DataSet_Label.csv', encoding='utf-8')

In [3]:
data.head

<bound method NDFrame.head of                                     id  \
0     7a3dd79f90ee419da87190cff60f7a86
1     7640a5589bc7486ca199eeeb38af79dd
2     8c5bda93e4ba401f90a0faa5b28fe57f
3     1aa777fed31a4b8a9d866f05b5477557
4     6c67ac55360340258e157f3710ebae6c
...                                ...
7340  0a8fbc25ea6a4241b9069919a8a88e1d
7341  54ef19d3fb1e4b8b8415623892868275
7342  0a9a42f8a78545f9b979fe5c7d33b33f
7343  87aca93ec1074c37a5e1ff14f9cdb253
7344  68680bb34bcf4829a04169885b4d92ff

                                                 title  \
0                          问责领导(上黄镇党委书记张涛，宣国才真能一手遮天吗？)
1                             江歌事件:教会孩子，善良的同时更要懂得保护自己!
2                           绝味鸭脖广告"开黄腔"引众怒 "双11"这么拼值吗?
3                      央视曝光!如东一医药企业将槽罐车改成垃圾车，夜间偷排高浓度废水
4     恶劣至极，央视都曝光了!南通如东一医药企业将槽罐车改成洒水车，夜间偷排高浓度废水...丢大发了!
...                                                ...
7340                            珊瑚裸尾鼠：首个因全球气候变暖灭绝的哺乳动物
7341                           独居老人做饭忘关火 南通志愿者及时发现转危为安
7342              被生意上的人给利用合同诈骗，诈骗三十万够判多少年--在..._律师365
7343                            奎山汽贸城去年那场火灾，调查情况报告出来了！
7344                      曝光台•调查｜市场消防通道被长期霸占？事情并非想象的那样

                                                content
0     这几天看了有人举报施某某的贴子，经与举报人联系证实，是宣某当天中午请举报人和枪手喝酒后，晚上...
1     过去一年的江歌悲剧，这几日再次刷屏：住在东京都中野区的中国女留学生江歌，收留了被前男友陈世锋...
2     “双11”1600亿的销售额让中国乃至全世界感到震惊，为此，不仅有不惜欠债百万的“剁手党”，...
3     2016年以来，如东高新区一家叫做拜瑞生物医药的企业竟然将装废水的槽罐车伪装成洒水车，常年在...
4     新闻资讯•民生热点•城市生活•南通人都在看浏览更多资讯请关注微信公众号:南通传媒网昨晚央视一...
...                                                 ...
7340  凯文登上前往澳大利亚的飞机，飞机缓缓起飞，凯文打开手里的笔记本，笔记本的第一页贴着一张泛黄的...
7341  江海明珠网讯（记者 修雨竹 汤思敏）前两天，港闸区秦灶林荫水岸小区一位老人独自在家烧煮时，竟...
7342  1、诈骗罪量刑标准之加重处罚情形:\n诈骗数额在10万元以上，又具有下列情形之一的，也应认定...
7343  26日，日照经济技术开发区发布《关于奎山汽贸城“11•14”火灾事故调查情况的报告》。201...
7344  消防通道是生命通道，一旦被占用，当发生火灾等突发状况，消防车辆将无法正常进出，会给小区居民生...

[7345 rows x 3 columns]>

## 将两个表按照id合并成一张表

In [4]:
table_merge = pd.merge(data, label)

In [5]:
table_merge.head()

,id,title,content,label
0,7a3dd79f90ee419da87190cff60f7a86,问责领导(上黄镇党委书记张涛，宣国才真能一手遮天吗？),这几天看了有人举报施某某的贴子，经与举报人联系证实，是宣某当天中午请举报人和枪手喝酒后，晚上...,2
1,7640a5589bc7486ca199eeeb38af79dd,江歌事件:教会孩子，善良的同时更要懂得保护自己!,过去一年的江歌悲剧，这几日再次刷屏：住在东京都中野区的中国女留学生江歌，收留了被前男友陈世锋...,1
2,8c5bda93e4ba401f90a0faa5b28fe57f,"绝味鸭脖广告""开黄腔""引众怒 ""双11""这么拼值吗?",“双11”1600亿的销售额让中国乃至全世界感到震惊，为此，不仅有不惜欠债百万的“剁手党”，...,2
3,1aa777fed31a4b8a9d866f05b5477557,央视曝光!如东一医药企业将槽罐车改成垃圾车，夜间偷排高浓度废水,2016年以来，如东高新区一家叫做拜瑞生物医药的企业竟然将装废水的槽罐车伪装成洒水车，常年在...,2
4,6c67ac55360340258e157f3710ebae6c,恶劣至极，央视都曝光了!南通如东一医药企业将槽罐车改成洒水车，夜间偷排高浓度废水...丢大发了!,新闻资讯•民生热点•城市生活•南通人都在看浏览更多资讯请关注微信公众号:南通传媒网昨晚央视一...,2

## 数据类型转换 ##

In [6]:
table_merge['title'] = table_merge['title'].astype('str')
table_merge['content'] = table_merge['content'].astype('str')
table_merge['label'] = table_merge['label'].astype('int')

# table_merge['content'] = table_merge['title'] +  table_merge['content']
table_merge['content'].str.cat(table_merge['title'])

0       这几天看了有人举报施某某的贴子，经与举报人联系证实，是宣某当天中午请举报人和枪手喝酒后，晚上...
1       过去一年的江歌悲剧，这几日再次刷屏：住在东京都中野区的中国女留学生江歌，收留了被前男友陈世锋...
2       “双11”1600亿的销售额让中国乃至全世界感到震惊，为此，不仅有不惜欠债百万的“剁手党”，...
3       2016年以来，如东高新区一家叫做拜瑞生物医药的企业竟然将装废水的槽罐车伪装成洒水车，常年在...
4       新闻资讯•民生热点•城市生活•南通人都在看浏览更多资讯请关注微信公众号:南通传媒网昨晚央视一...
                              ...
7335    凯文登上前往澳大利亚的飞机，飞机缓缓起飞，凯文打开手里的笔记本，笔记本的第一页贴着一张泛黄的...
7336    江海明珠网讯（记者 修雨竹 汤思敏）前两天，港闸区秦灶林荫水岸小区一位老人独自在家烧煮时，竟...
7337    1、诈骗罪量刑标准之加重处罚情形:\n诈骗数额在10万元以上，又具有下列情形之一的，也应认定...
7338    26日，日照经济技术开发区发布《关于奎山汽贸城“11•14”火灾事故调查情况的报告》。201...
7339    消防通道是生命通道，一旦被占用，当发生火灾等突发状况，消防车辆将无法正常进出，会给小区居民生...
Name: content, Length: 7340, dtype: object

In [7]:
table_merge.head()

,id,title,content,label
0,7a3dd79f90ee419da87190cff60f7a86,问责领导(上黄镇党委书记张涛，宣国才真能一手遮天吗？),这几天看了有人举报施某某的贴子，经与举报人联系证实，是宣某当天中午请举报人和枪手喝酒后，晚上...,2
1,7640a5589bc7486ca199eeeb38af79dd,江歌事件:教会孩子，善良的同时更要懂得保护自己!,过去一年的江歌悲剧，这几日再次刷屏：住在东京都中野区的中国女留学生江歌，收留了被前男友陈世锋...,1
2,8c5bda93e4ba401f90a0faa5b28fe57f,"绝味鸭脖广告""开黄腔""引众怒 ""双11""这么拼值吗?",“双11”1600亿的销售额让中国乃至全世界感到震惊，为此，不仅有不惜欠债百万的“剁手党”，...,2
3,1aa777fed31a4b8a9d866f05b5477557,央视曝光!如东一医药企业将槽罐车改成垃圾车，夜间偷排高浓度废水,2016年以来，如东高新区一家叫做拜瑞生物医药的企业竟然将装废水的槽罐车伪装成洒水车，常年在...,2
4,6c67ac55360340258e157f3710ebae6c,恶劣至极，央视都曝光了!南通如东一医药企业将槽罐车改成洒水车，夜间偷排高浓度废水...丢大发了!,新闻资讯•民生热点•城市生活•南通人都在看浏览更多资讯请关注微信公众号:南通传媒网昨晚央视一...,2

## 分词 ##

In [8]:
import jieba

def chinese_word_cut(mytext):
    return " ".join(jieba.cut(mytext))


table_merge['cut_content'] = table_merge.content.apply(chinese_word_cut)

Building prefix dict from the default dictionary ...
Dumping model to file cache /tmp/jieba.cache
Loading model cost 0.699 seconds.
Prefix dict has been built succesfully.

In [9]:
# print(data['cut_comment'])
print(table_merge['cut_content'])

0       这 几天 看 了 有人 举报 施 某某 的 贴子 ， 经 与 举报人 联系 证实 ， 是 宣...
1       过去 一年 的 江歌 悲剧 ， 这 几日 再次 刷屏 ： 住 在 东京都 中野 区 的 中国...
2       “ 双 11 ” 1600 亿 的 销售额 让 中国 乃至 全世界 感到 震惊 ， 为此 ，...
3       2016 年 以来 ， 如东 高新区 一家 叫做 拜瑞 生物医药 的 企业 竟然 将装 废水...
4       新闻资讯 • 民生 热点 • 城市 生活 • 南通人 都 在 看 浏览 更 多 资讯 请 关...
                              ...
7335    凯文 登上 前往 澳大利亚 的 飞机 ， 飞机 缓缓 起飞 ， 凯文 打开 手里 的 笔记本...
7336    江海 明珠 网讯 （ 记者   修雨竹   汤思敏 ） 前两天 ， 港闸区 秦灶 林荫 水岸...
7337    1 、 诈骗罪 量刑 标准 之 加重 处罚 情形 : \ n 诈骗 数额 在 10 万元 以...
7338    26 日 ， 日照 经济 技术开发区 发布 《 关于 奎山 汽贸 城 “ 11 • 14 ”...
7339    消防通道 是 生命 通道 ， 一旦 被 占用 ， 当 发生 火灾 等 突发状况 ， 消防 车...
Name: cut_content, Length: 7340, dtype: object

In [10]:
print(table_merge['label'])

0       2
1       1
2       2
3       2
4       2
       ..
7335    2
7336    2
7337    2
7338    2
7339    2
Name: label, Length: 7340, dtype: int64

## 划分数据集 ##

In [11]:
X = table_merge['cut_content']
y = table_merge['label']

print(X.shape)
print(y.shape)

(7340,)
(7340,)

In [12]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.1, random_state=22)
# print(y_train)
# X_train = X
# y_train = y

## 词向量 ##

In [13]:
from sklearn.feature_extraction.text import CountVectorizer

def get_custom_stopwords(stop_words_file):
    with open(stop_words_file) as f:
        stopwords = f.read()
    stopwords_list = stopwords.split('\n')
    custom_stopwords_list = [i for i in stopwords_list]
    return custom_stopwords_list

stop_words_file = '哈工大停用词表.txt'
stopwords = get_custom_stopwords(stop_words_file)

vect = CountVectorizer(max_df = 0.8, 
                       min_df = 3, 
                       token_pattern=u'(?u)\\b[^\\d\\W]\\w+\\b', 
                       stop_words=frozenset(stopwords))

In [14]:
test = pd.DataFrame(vect.fit_transform(X_train).toarray(), columns=vect.get_feature_names())
test.head()

/home/linuzb/miniconda3/lib/python3.7/site-packages/sklearn/feature_extraction/text.py:300: UserWarning: Your stop_words may be inconsistent with your preprocessing. Tokenizing the stop words generated tokens ['exp', 'lex', '①①', '①②', '①③', '①④', '①⑤', '①⑥', '①⑦', '①⑧', '①⑨', '①ａ', '①ｂ', '①ｃ', '①ｄ', '①ｅ', '①ｆ', '①ｇ', '①ｈ', '①ｉ', '①ｏ', '②①', '②②', '②③', '②④', '②⑤', '②⑥', '②⑦', '②⑧', '②⑩', '②ａ', '②ｂ', '②ｄ', '②ｅ', '②ｆ', '②ｇ', '②ｈ', '②ｉ', '②ｊ', '③①', '③⑩', '③ａ', '③ｂ', '③ｃ', '③ｄ', '③ｅ', '③ｆ', '③ｇ', '③ｈ', '④ａ', '④ｂ', '④ｃ', '④ｄ', '④ｅ', '⑤ａ', '⑤ｂ', '⑤ｄ', '⑤ｅ', '⑤ｆ', 'ｌｉ', 'ｚｘｆｉｔｌ'] not in stop_words.
  'stop_words.' % sorted(inconsistent))

,__,______,_________,____________,_____________________,______________________________,a1,a2,a3,a320,...,龙虾,龙袍,龙路,龙里县,龙镇,龙门,龙飞,龙首,龚先生,龚全珍
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

## 训练模型 ##

In [20]:
X_train_vect = vect.fit_transform(X_train)
X_test_vect = vect.transform(X_test)

### 朴素贝叶斯

In [22]:
from sklearn.naive_bayes import MultinomialNB
nb = MultinomialNB()
nb.fit(X_train_vect, y_train)
train_score = nb.score(X_train_vect, y_train)
print("naive_bayes train score :" + str(train_score))

naive_bayes train score :0.7867090523766274

In [24]:
print("naive_bayes test score" + str(nb.score(X_test_vect, y_test)))
# print(X_test_vect)
# print(y_test)

naive_bayes test score0.6920980926430518

### 随机森林

In [28]:
from sklearn.ensemble import RandomForestClassifier
rfc = RandomForestClassifier(n_estimators=100, max_depth=20,random_state=0)
rfc.fit(X_train_vect, y_train)
train_score = rfc.score(X_train_vect, y_train)
print("random forest train:" + str(train_score))

random forest train:0.7920072661217076

In [29]:
print("random forest test score :" + str(rfc.score(X_test_vect, y_test)))
# print(X_test_vect)
# print(y_test)

random forest test score :0.6948228882833788

### SVM ###

In [30]:
from sklearn import svm
svm_clf = svm.SVC(gamma='scale')
svm_clf.fit(X_train_vect, y_train)
train_score = svm_clf.score(X_train_vect, y_train)
print("svm train score :" + str(train_score))

svm train score :0.7779291553133515

In [32]:
print("svm test score :" + str(svm_clf.score(X_test_vect, y_test)))
# print(X_test_vect)
# print(y_test)

svm test score :0.6948228882833788

## 保存预测结果 ##

In [18]:
X_vec = vect.transform(X)
nb_result = nb.predict(X_vec)
table_merge['nb_result'] = nb_result

In [19]:
table_merge.head()

,id,title,content,label,cut_content,nb_result
0,7a3dd79f90ee419da87190cff60f7a86,问责领导(上黄镇党委书记张涛，宣国才真能一手遮天吗？),问责领导(上黄镇党委书记张涛，宣国才真能一手遮天吗？)这几天看了有人举报施某某的贴子，经与举...,2,问责 领导 ( 上 黄镇 党委书记 张涛 ， 宣国 才 真能 一手遮天 吗 ？ ) 这 几天...,2
1,7640a5589bc7486ca199eeeb38af79dd,江歌事件:教会孩子，善良的同时更要懂得保护自己!,江歌事件:教会孩子，善良的同时更要懂得保护自己!过去一年的江歌悲剧，这几日再次刷屏：住在东京...,1,江歌 事件 : 教会 孩子 ， 善良 的 同时 更要 懂得 保护 自己 ! 过去 一年 的 ...,2
2,8c5bda93e4ba401f90a0faa5b28fe57f,"绝味鸭脖广告""开黄腔""引众怒 ""双11""这么拼值吗?","绝味鸭脖广告""开黄腔""引众怒 ""双11""这么拼值吗?“双11”1600亿的销售额让中国乃至全...",2,"绝味 鸭 脖 广告 "" 开 黄腔 "" 引 众怒 "" 双 11 "" 这么 拼值 吗 ? “...",2
3,1aa777fed31a4b8a9d866f05b5477557,央视曝光!如东一医药企业将槽罐车改成垃圾车，夜间偷排高浓度废水,央视曝光!如东一医药企业将槽罐车改成垃圾车，夜间偷排高浓度废水2016年以来，如东高新区一家...,2,央视 曝光 ! 如东 一 医药企业 将 槽罐车 改成 垃圾车 ， 夜间 偷排 高浓度 废水 ...,2
4,6c67ac55360340258e157f3710ebae6c,恶劣至极，央视都曝光了!南通如东一医药企业将槽罐车改成洒水车，夜间偷排高浓度废水...丢大发了!,恶劣至极，央视都曝光了!南通如东一医药企业将槽罐车改成洒水车，夜间偷排高浓度废水...丢大发...,2,恶劣 至极 ， 央视 都 曝光 了 ! 南通 如东 一 医药企业 将 槽罐车 改成 洒水车 ...,2

In [20]:
Test_DataSet = pd.read_csv('Test/Test_DataSet.csv', encoding='utf-8')

In [21]:
Test_DataSet.head()

,id,title,content
0,00005a3efe934a19adc0b69b05faeae7,九江办好人民满意教育,近3年来，九江市紧紧围绕“人本教育、公平教育、优质教育、幸福教育”的目标，努力办好人民满意教...
1,0009dc82c41341d794837271d4dbff5f,中央第三生态环境保护督察组转办我市第三十一批信访件办理情况,中央第三生态环境保护督察组转办我市的第三十一批信访件共计1件，截至12月11日，已全部办结，...
2,000f3763b6074588817c9ab90a22a814,大雨天车被淹，保险公司该不该赔？,核心提示：近日，连续的降雨天气造成中心城区部分路段积水严重，一些市民驾车出行涉水时造成车辆被...
3,00117934dbe240068c95b6d04b08eea7,英特尔新cpu微架构ocean cove曝光,intel在主流平台上确认，今年将推出基于14nm的whiskeylake，明年开始大规模出...
4,0014cef5ccfa43b3a6b20162a03763fa,公安部侦破一批重大网络赌博案件 德州约局平台成重灾区,2018年4月，公安部指挥河南、北京、广西等地公安机关联合行动，成功侦破北京联众公司棋牌事业...

In [22]:
# 数据类型转换
Test_DataSet['content'] = Test_DataSet['content'].astype('str')
# 分词
Test_DataSet['cut_content'] = Test_DataSet.content.apply(chinese_word_cut)
# 测试
result_vect = vect.transform(Test_DataSet['cut_content'])
nb_result = nb.predict(result_vect)
Test_DataSet['label'] = nb_result

In [23]:
Test_DataSet.head()
print(Test_DataSet['label'])

0       0
1       1
2       2
3       1
4       2
       ..
7351    1
7352    1
7353    1
7354    1
7355    1
Name: label, Length: 7356, dtype: int64

In [35]:
# submit_example = pd.read_csv('submit_example.csv', encoding='utf-8')
# submit_example.head()

In [18]:
Test_DataSet[['id','label']].to_csv('submit.csv', index=False)